class <%= class_name  %>TableModel < Qt::AbstractTableModel

    @@column_titles = [

       NVPair.new('id', 'ID'),
      <% model_keys.each_with_index do |attr_name, i| %>
        NVPair.new('<%= attr_name.to_s %>', '<%= attr_name.to_s.capitalize.gsub('_', ' ') %>')<%= model_keys.length - 1 == i ? '' : ',' %>
      <% end %>
    ]

end
