class <%= class_name.pluralize %>Controller

  def view
    <%= class_name %>.find(Router.params[:id])
  end

  def new
    <%= class_name %>.new
  end

  def edit
    <%= class_name %>.find(Router.params[:id])
  end

  def delete
    <%= class_name %>.find(Router.params[:id]).destroy
  end

  def index
    <%= class_name %>.all
  end
end
